@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar {
  background: #ffffff;
  padding: 10px 20px;
}

.nav-link {
  font-size: 24px;
  padding: 0 30px !important;
}

.button {
  text-decoration: none !important;
}

.navbar-brand {
  color: #9C27B0 !important;
}

.active {
  color: #9C27B0 !important;
}

.contest-box {
  background: rgba(83, 44, 202, 0.04);
  border-radius: 20px;
  min-width: 30%;
  min-height: 30%;
  margin: 10px 0px;
}

.search-bar {
  border-color: #9C27B0;
  border-width: 4px;
}

.search-bar:focus {
  border-color: #beb504;
  box-shadow: none;
}

.table {
  background-color: rgba(83, 44, 202, 0.04);
}

.check {
  background-color: red !important;
  border: 5px solid #000000 ;
}

.Link {
  text-decoration: none !important;
}
